@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 500px;
    margin-inline: auto;
}

.no-scrollbar::-webkit-scrollbar{
    display:none
}
.no-scrollbar {
    -ms-overflow-style:none;
    scrollbar-width:none;
}